.nav{
    background-color: transparent;
    color: white;
    padding: 20px 20px;
    display: flex;
    position: inherit;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
  }
  

  
  .nav .logo a {
    margin-right: 10px; 
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none !important;

  }
  
  .nav .logo img {
    max-height: 5vw; 
  }
  
  .nav .company-name {
    font-size: 2rem; 
    font-family: "skranji";
    font-weight: 900;
    text-emphasis:none;
    color: #00faf8;
  }
  .nav .company-name span{
    color: #fa017a;

  }
  
  .menu-icon {
    display: none;
    flex-direction: column;
    cursor: pointer;
        z-index: 1;

  }
  
  .bar {
    width: 30px;
    height: 3px;
    background-color: white;
    margin: 3px 0;
    z-index: 1;

  }
  
  .navbar ul {
    list-style-type: none;
    padding: 0;
    z-index: 1;
    display: flex;
  }
  
  .navbar li {
    margin-right: 20px;
    z-index: 1;

  }
  
  .navbar a {
    font-family: "poppins";
    text-decoration: none;
    color: #fa017a;
    transition: color 0.3s;
    z-index: 1;

  }
  .navbar li:last-child a{
    background-color: #3e364e;
    color: #fa017a;
    padding: .6rem;
    border-radius: 5px;
  }
  
  .navbar a:hover {
    color: #00faf8;
    z-index: 1;
  }
  
  @media (max-width: 768px) {
    .menu-icon {
      display: flex;
      z-index: 1;

    }
    .nav .logo img {
      max-height: 10vw; 
    }
    .navbar {
      display: none;
      width: 100%;
      background-color: white;
      position: absolute;
      top: 60px;
      right: 0; 
      text-align: center;
      z-index: 1;

    }
  
    .navbar.active {
      display: block;
      z-index: 1;

    }
  
    .navbar ul {
      flex-direction: column;
      padding: 0;
      z-index: 1;

    }
  
    .navbar li {
      margin: 10px 0;
      z-index: 1;

    }
    .navbar li:last-child a {
      font-family: "poppins";
      text-decoration: none;
      color: white;
      background-color: white;
      transition: color 0.3s;
      z-index: 1;
    }
  }
  